version: "3"
services:
  buckets:
    build:
      context: ../../
      dockerfile: ./cmd/buckd/Dockerfile.dev
    volumes:
      - "${REPO_PATH}/buckets:/data/buckets"
    environment:
      - BUCK_LOG_DEBUG=true
      - BUCK_ADDR_API=/ip4/0.0.0.0/tcp/3006
      - BUCK_ADDR_API_PROXY=/ip4/0.0.0.0/tcp/3007
      - BUCK_ADDR_MONGO_URI=mongodb://mongo:27017
      - BUCK_ADDR_MONGO_NAME=buckets
      - BUCK_ADDR_THREADS_HOST=/ip4/0.0.0.0/tcp/4006
      - BUCK_ADDR_THREADS_MONGO_URI=mongodb://mongo:27017
      - BUCK_ADDR_THREADS_MONGO_NAME=buckets_threads
      - BUCK_ADDR_GATEWAY_HOST=/ip4/0.0.0.0/tcp/8006
      - BUCK_ADDR_GATEWAY_URL
      - BUCK_ADDR_IPFS_API=/dns4/ipfs/tcp/5001
      - BUCK_ADDR_POWERGATE_API
      - BUCK_GATEWAY_SUBDOMAINS
      - BUCK_DNS_DOMAIN
    ports:
      - "127.0.0.1:3006:3006"
      - "127.0.0.1:3007:3007"
      - "4006:4006"
      - "127.0.0.1:8006:8006"
      - "127.0.0.1:40000:40000"
    security_opt:
      - "seccomp:unconfined"
    cap_add:
      - SYS_PTRACE
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    volumes:
      - "${REPO_PATH}/mongo:/data/db"
    ports:
      - "127.0.0.1:27017:27017"
    command:
      - /bin/bash
      - -c
      - |
        /usr/bin/mongod --fork --logpath /var/log/mongod.log --bind_ip_all --replSet rs0
        mongo --eval 'rs.initiate({_id: "rs0", version: 1, members: [{ _id: 0, host: "mongo:27017" }]})'
        tail -f /var/log/mongod.log
  ipfs:
    image: ipfs/go-ipfs:v0.7.0
    volumes:
      - "${REPO_PATH}/ipfs:/data/ipfs"
    environment:
      - IPFS_PROFILE=test
    ports:
      - "4001:4001"
      - "4001:4001/udp"
      - "127.0.0.1:5001:5001"
      - "127.0.0.1:8080:8080"
