version: "3"
services:
  buckets:
    image: textile/textile:buckets
    restart: always
    volumes:
      - "${REPO_PATH}/buckets:/data/buckets"
    environment:
      - BUCK_LOG_DEBUG
      - BUCK_LOG_FILE
      - BUCK_ADDR_API=/ip4/0.0.0.0/tcp/3006
      - BUCK_ADDR_API_PROXY=/ip4/0.0.0.0/tcp/3007
      - BUCK_ADDR_MONGO_URI=mongodb://mongo:27017
      - BUCK_ADDR_MONGO_NAME
      - BUCK_ADDR_THREADS_HOST=/ip4/0.0.0.0/tcp/4006
      - BUCK_ADDR_GATEWAY_HOST=/ip4/0.0.0.0/tcp/8006
      - BUCK_ADDR_GATEWAY_URL
      - BUCK_ADDR_IPFS_API=/dns4/ipfs/tcp/5001
      - BUCK_ADDR_POWERGATE_API
      - BUCK_GATEWAY_SUBDOMAINS
      - BUCK_DNS_DOMAIN
      - BUCK_DNS_ZONE_ID
      - BUCK_DNS_TOKEN
    ports:
      - "127.0.0.1:3006:3006"
      - "3007:3007"
      - "4006:4006"
      - "127.0.0.1:8006:8006"
  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - "${REPO_PATH}/mongo:/data/db"
    ports:
      - "127.0.0.1:27017:27017"
  ipfs:
    image: ipfs/go-ipfs:v0.7.0
    restart: always
    volumes:
      - "${REPO_PATH}/ipfs:/data/ipfs"
    ports:
      - "4001:4001"
      - "127.0.0.1:5001:5001"
      - "8080:8080"
