# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# JS PB files
api/pb/javascript/src/api_*.ts
api/pb/javascript/src/api_*.js
api/pb/javascript/dist
api/pb/javascript/node_modules
api/pb/javascript/package-lock.json

# IDEs
.idea/
.vscode/


# Textile
.textile/
.textiled/
data
.env

