{{template "header" "Bucket"}}
<div class="title">Index of {{.root.String}}</div>
<ul>
    <li><a href="{{.back}}">..</a></li>
    {{range .links}}
        <li><a href="{{.Path.String}}">/{{.Link.Name}}<span class="right">{{.Size}}</span></a></li>
    {{end}}
</ul>
{{template "footer"}}
