{{template "header" "Bucket"}}
<div class="title">
    <span class="yellow">/{{.Root}}</span>: {{.Path}}
    {{ if ne .Updated "" }}
        <span class="right">Updated {{.Updated}}</span>
    {{ end }}
</div>
<ul>
    {{ if ne .Back "" }}
        <li><a href="/{{.Back}}">..</a></li>
    {{ end }}
    {{range .Links}}
        <li><a href="/{{.Path}}">{{.Name}}<span class="right">{{.Size}}</span></a></li>
    {{end}}
</ul>
{{template "footer"}}
