{{template "header" "Bucket"}}
<div class="title"><span class="yellow">/{{.Root}}</span>: {{.Path}}</div>
<ul>
    <li><a href="/{{.Back}}">..</a></li>
    {{range .Links}}
        <li><a href="/{{.Path}}">{{.Name}}<span class="right">{{.Size}}</span></a></li>
    {{end}}
</ul>
{{template "footer"}}
