{{template "header" "Email Address Confirmed"}}
<div class="aligner">
    <div class="aligner-item">
        <i class="fas fa-grin-stars icon-big"></i>
    </div>
    <div class="aligner-item">
        <p>You have been correctly authenticated. You may now close this window!</p>
    </div>
</div>
{{template "footer"}}
