{{template "header" .Title}}
<div class="title">
    {{ if ne .Root "" }}<span class="yellow">{{.Root}}:</span> {{ end }}{{.Path}}
</div>
<ul>
    {{ if ne .Back "" }}
        <li><a href="/{{.Back}}">..</a></li>
    {{ end }}
    {{range .Links}}
        <li><a href="/{{.Path}}">{{.Name}}<span class="right">{{.Size}}</span></a></li>
    {{end}}
</ul>
{{ if ne .Updated "" }}
    <div class="updated">Updated {{.Updated}}</div>
{{ end }}
{{template "footer"}}
