version: "3"
services:
  textile:
    build:
      context: ../../
      dockerfile: ./cmd/hubd/Dockerfile.dev
    volumes:
      - "${REPO_PATH}/textile:/data/textile"
    environment:
      - HUB_LOG_DEBUG=true
      - HUB_ADDR_API=/ip4/0.0.0.0/tcp/3006
      - HUB_ADDR_API_PROXY=/ip4/0.0.0.0/tcp/3007
      - HUB_ADDR_MONGO_URI=mongodb://mongo:27017
      - HUB_ADDR_MONGO_NAME=textile
      - HUB_ADDR_THREADS_HOST=/ip4/0.0.0.0/tcp/4006
      - HUB_ADDR_THREADS_MONGO_URI=mongodb://mongo:27017
      - HUB_ADDR_THREADS_MONGO_NAME=textile_threads
      - HUB_ADDR_GATEWAY_HOST=/ip4/0.0.0.0/tcp/8006
      - HUB_ADDR_GATEWAY_URL
      - HUB_ADDR_IPFS_API=/dns4/ipfs/tcp/5001
      - HUB_ADDR_BILLING_API=billing:10006
      - HUB_ADDR_POWERGATE_API
      - HUB_BUCKETS_MAX_SIZE
      - HUB_THREADS_MAX_NUMBER_PER_OWNER
      - HUB_IPNS_REPUBLISH_SCHEDULE
      - HUB_IPNS_REPUBLISH_CONCURRENCY
      - HUB_GATEWAY_SUBDOMAINS
      - HUB_CUSTOMERIO_API_KEY
      - HUB_EMAIL_SESSION_SECRET=hubsession
    ports:
      - "127.0.0.1:3006:3006"
      - "127.0.0.1:3007:3007"
      - "4006:4006"
      - "127.0.0.1:8006:8006"
      - "127.0.0.1:40000:40000"
    security_opt:
      - "seccomp:unconfined"
    cap_add:
      - SYS_PTRACE
    depends_on:
      - mongo
  billing:
    build:
      context: ../../
      dockerfile: ./api/billingd/Dockerfile.dev
    environment:
      - BILLING_LOG_DEBUG=true
      - BILLING_ADDR_API=/ip4/0.0.0.0/tcp/10006
      - BILLING_ADDR_MONGO_URI=mongodb://mongo:27017
      - BILLING_ADDR_MONGO_NAME=textile_billing
      - BILLING_ADDR_GATEWAY_HOST=/ip4/0.0.0.0/tcp/8010
      - BILLING_ADDR_GATEWAY_URL
      - BILLING_STRIPE_API_KEY
      - BILLING_STRIPE_WEBHOOK_SECRET
      - BILLING_SEGMENT_API_KEY
      - BILLING_SEGMENT_PREFIX
    ports:
      - "127.0.0.1:10006:10006"
      - "127.0.0.1:8010:8010"
      - "127.0.0.1:40001:40000"
    security_opt:
      - "seccomp:unconfined"
    cap_add:
      - SYS_PTRACE
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    volumes:
      - "${REPO_PATH}/mongo:/data/db"
    ports:
      - "127.0.0.1:27017:27017"
    command:
      - /bin/bash
      - -c
      - |
        /usr/bin/mongod --fork --logpath /var/log/mongod.log --bind_ip_all --replSet rs0
        mongo --eval 'rs.initiate({_id: "rs0", version: 1, members: [{ _id: 0, host: "mongo:27017" }]})'
        tail -f /var/log/mongod.log
  ipfs:
    image: ipfs/go-ipfs:v0.7.0
    volumes:
      - "${REPO_PATH}/ipfs:/data/ipfs"
    environment:
      - IPFS_PROFILE=test
    ports:
      - "4001:4001"
      - "4001:4001/udp"
      - "127.0.0.1:5001:5001"
      - "127.0.0.1:8080:8080"
