version: "3"
services:
  textile:
    image: textile/textile:latest
    restart: always
    volumes:
      - "${REPO_PATH}/textile:/data/textile"
    environment:
      - HUB_ADDR_API=/ip4/0.0.0.0/tcp/3006
      - HUB_ADDR_API_PROXY=/ip4/0.0.0.0/tcp/3007
      - HUB_ADDR_THREADS_HOST=/ip4/0.0.0.0/tcp/4006
      - HUB_ADDR_GATEWAY_HOST=/ip4/0.0.0.0/tcp/8006
      - HUB_ADDR_GATEWAY_URL
      - HUB_ADDR_MONGO_URI
      - HUB_ADDR_IPFS_API=/dns4/ipfs/tcp/5001
      - HUB_ADDR_POWERGATE_API
      - HUB_GATEWAY_SUBDOMAINS
      - HUB_EMAIL_API_KEY
      - HUB_DNS_DOMAIN
      - HUB_DNS_ZONE_ID
      - HUB_DNS_TOKEN
      - HUB_LOG_DEBUG
      - HUB_LOG_FILE
    ports:
      - "127.0.0.1:3006:3006"
      - "3007:3007"
      - "4006:4006"
      - "127.0.0.1:8006:8006"
  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - "${REPO_PATH}/mongo:/data/db"
    ports:
      - "127.0.0.1:27017:27017"
  ipfs:
    image: ipfs/go-ipfs:v0.6.0
    restart: always
    volumes:
      - "${REPO_PATH}/ipfs:/data/ipfs"
    ports:
      - "4001:4001"
      - "127.0.0.1:5001:5001"
      - "8080:8080"
