version: '3.7'

services:
  textile:
    build:
      context: ../../../
      dockerfile: ./cmd/hubd/Dockerfile
    environment:
      - HUB_ADDR_API=/ip4/0.0.0.0/tcp/3006
      - HUB_ADDR_API_PROXY=/ip4/0.0.0.0/tcp/3007
      - HUB_ADDR_THREADS_HOST=/ip4/0.0.0.0/tcp/4006
      - HUB_ADDR_GATEWAY_HOST=/ip4/0.0.0.0/tcp/8006
      - HUB_ADDR_MONGO_URI=mongodb://mongo:27017
      - HUB_ADDR_IPFS_API=/dns4/ipfs/tcp/5001
      - HUB_ADDR_POWERGATE_API=/dns4/powergate/tcp/5002
      - HUB_GATEWAY_SUBDOMAINS
      - HUB_EMAIL_SESSION_SECRET=hubsession
      - HUB_BUCKETS_MAX_SIZE
      - HUB_BUCKETS_MAX_NUMBER_PER_THREAD
      - HUB_BUCKETS_TOTAL_MAX_SIZE
      - HUB_THREADS_MAX_NUMBER_PER_OWNER
      - HUB_LOG_DEBUG=true
      - HUB_LOG_FILE
    ports:
      - "127.0.0.1:3006:3006"
      - "3007:3007"
      - "4006:4006"
      - "127.0.0.1:8006:8006"
    depends_on:
      - ipfsbuckets
      - mongo
      - powergate

  powergate:
    image: textile/powergate:sha-6573697
    depends_on:
      - ipfs
      - ipfsbuckets
      - lotus
    environment:
      - POWD_DEVNET=true
      - POWD_LOTUSHOST=/dns4/lotus/tcp/7777
      - POWD_IPFSAPIADDR=/dns4/ipfs/tcp/5001
    restart: unless-stopped

  ipfs:
    image: ipfs/go-ipfs:v0.6.0

  ipfsbuckets:
    image: ipfs/go-ipfs:v0.6.0

  mongo:
    image: mongo:latest

  lotus:
    image: textile/lotus-devnet:sha-03a015d
    environment:
      - TEXLOTUSDEVNET_SPEED=1500
      - TEXLOTUSDEVNET_IPFSADDR=/dns4/ipfs/tcp/5001
      - TEXLOTUSDEVNET_BIGSECTORS=true
    ports:
      - 1234:7777
