name: Release
on:
  release:
    types: [created]
jobs:
  release-platform-builds:
    name: Release Builds
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      - name: Check out code
        uses: actions/checkout@v1
      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          go get -v -t -d ./...
      - name: Build govvv
        run: |
          go build -modfile .bingo/govvv.mod -o=. github.com/ahmetb/govvv
      - name: Build gox
        run: |
          go build -modfile .bingo/gox.mod -o=. github.com/mitchellh/gox
      - name: Compile
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          gox -osarch="linux/amd64 linux/386 linux/arm darwin/amd64 windows/amd64" -output="hub-{{.OS}}-{{.Arch}}" -ldflags="$(./govvv -flags -version $(VERSION) -pkg $(go list ./buildinfo))" ./cmd/hub
          gox -osarch="linux/amd64 linux/386 linux/arm darwin/amd64 windows/amd64" -output="buck-{{.OS}}-{{.Arch}}" ./cmd/buck
      - name: Collect artifacts
        run: |
          VERSION=${GITHUB_REF##*/}
          OUT=release/cli
          mkdir -p ${OUT}
          mkdir -p tmp
          cp LICENSE tmp/
          cp README.md tmp/
          cp dist/install tmp/
          cd tmp
          declare -a arr=("darwin-amd64" "windows-amd64.exe" "linux-amd64" "linux-386" "linux-arm")
          for i in "${arr[@]}"
          do
              OSARCH=${i%.*}
              EXT=$([[ "$i" = *.* ]] && echo ".${i##*.}" || echo '')
              cp ../hub-${i} hub${EXT}
              cp ../buck-${i} buck${EXT}
              if [ "${EXT}" == ".exe" ]; then
                  zip hub_${VERSION}_${OSARCH}.zip LICENSE README.md hub${EXT}
                  zip buck_${VERSION}_${OSARCH}.zip LICENSE README.md buck${EXT}
                  mv hub_${VERSION}_${OSARCH}.zip ../${OUT}/
                  mv buck_${VERSION}_${OSARCH}.zip ../${OUT}/
              else
                  tar -czvf hub_${VERSION}_${OSARCH}.tar.gz LICENSE README.md install hub
                  tar -czvf buck_${VERSION}_${OSARCH}.tar.gz LICENSE README.md install buck
                  mv hub_${VERSION}_${OSARCH}.tar.gz ../${OUT}/
                  mv buck_${VERSION}_${OSARCH}.tar.gz ../${OUT}/
              fi
          done
          cd .. && rm -rf tmp
          echo $(ls ./release/cli)
      - name: Upload multiple assets to release
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'release/cli/hub_*;release/cli/buck_*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
